
<!DOCTYPE html>

<html>
    <head>
        <title>Photoframe | Home</title>
    </head>
    <body>
        <h1>
            Raspberry Pi 4 Photoframe
        </h1>
        <p>
            You've reached the home of the amazing Raspberry Pi photoframe, check out the links below to navigate this cutting edge website.
        </p>
        <ul id=nav name="navitation menu">
            <li><a href=/About>About</a></li>
            <li><a href=/Upload>Upload</a></li>
            <li><a href=/gallery>Gallery</a></li>
        </ul>
    </body>
</html>