<!DOCTYPE html>
<html>
    <head>
        <title>Photoframe | Upload</title>
    </head>
    <h1>Raspberry Pi Photo Upload</h1>
    <img src="file:///big-trouble-little-china.jpeg" width="320" height="240"/>
    <br>
    <label id="new_image">Select a photo to upload</label>
    <form method="POST" enctype="multipart/form-data">
        <input type="file"
            id="new_image" name="new_image"
            accept="image/png, image/jpeg">
        <input type="submit" value="Submit">
    </form>

</html>